.parallex
{
    background-image: url(../HomePage/Assets/student.jpg);
    background-attachment: fixed;
    background-size: cover;
}
#course-list  :hover
{
    border-color: #3975ac !important;
    border-width: 1.3px  !important;
}
