@import '~antd/dist/antd.less'; 

.App {
  text-align: center;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
#newsletter 
{
  color: black;
}
#newsletter ::placeholder
{
  color: black  !important;
  opacity: 1; /* Firefox */
}
.ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner
{
  background-color: #037dda !important; 
}
.ant-select-selection-item
{
  color:grey !important;
}
.ant-empty-description
{
  color:grey !important;

}